@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
margin: 0px;
padding: 0px;
}
#outer{
   border: 4px solid rgb(14, 0, 0);
border-radius: 10px;
width: 99%;
height: 70px;
margin: 2px 2px;
background-color: rgb(111, 4, 121);
display: flex;
align-items: center;


}
.text{

   color: rgb(0, 0, 0);
   padding-left: 28px;
   font-size: 23px;
   font-weight: 600;
padding-left: 55px;

}
nav::after{
content: "";
   background: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60") no-repeat center center/cover;
position: absolute;
    top: 0px;
    left: 0px;
height:100%;
width: 100%;
  z-index: -1;
  opacity: 0.6;

}
#adiimg{
   width: 300px;
   padding-right: 30px;
   border-radius: 20px;
   padding-top: 15px;
}

#frontpage{
   display: flex;
   flex-direction: row;

}
#heading{
text-align: center;
padding-top: 7px;
padding-bottom: 9px;
font-size: 40px;

}
#cse{
   padding-left:20px;
   padding-right:20px;
position: relative;
top: 30px;
border: 3px solid darkkhaki;
border-radius: 10px;
margin-left: 5px;
background-color: rgb(204, 155, 163);

}
#descripton{
border: 6px solid darkkhaki ;
border-radius: 25px;
width: 720px;
height: 250px;
margin: auto;
margin-top: 70px;
font-size: 30px;
}

#about{
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   font: italic;
   font-size: 23px;
color: black;
font-weight: 900;
}
#about1{
   font-size: 25px;
   padding-top: 20px;
   padding-left: 7px;

}
#skills{
margin-top: 90px;
font-size: 50px;
text-align: center;
color: rgb(10, 10, 0);
font-weight: 900;
}
#skills::after{
content: "";
background: url("https://previews.123rf.com/images/varijanta/varijanta1603/varijanta160300067/54344043-flat-line-design-website-banner-of-find-the-right-education-profession-answer-to-all-the-questions-f.jpg?fj=1https://th.bing.com/th/id/R.7d631d958432daef5e534f523314c3a3?rik=Lx8YLi3DFfVasQ&riu=http%3a%2f%2fwww.inspiringinterns.com%2fblog%2fwp-content%2fuploads%2f2017%2f03%2ftechnology-2082642-1200x675.jpg&ehk=EAS18jUOz9K3dmdSox%2ffztbBxAhu7jtJnloWfwE%2fi8g%3d&risl=&pid=ImgRaw&r=0") no-repeat center center/cover;
position: absolute;
height:60%;
width:120%;
z-index: -1;
opacity: 0.3;
transform: translate(-60%,0%);
}
#skillsimage{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
}
.skimage{
height: 230px;
width: 230px;
border-radius: 20px;
}
#contact::before{
   content: "";
   background: url("https://previews.123rf.com/images/o0matze0o/o0matze0o1805/o0matze0o180500018/101535114-website-and-internet-contact-us-page-concept-with-hanging-icons-in-front-of-a-silver-background.jpg?fj=1") no-repeat center center/cover;
position: absolute;
width: 110%;
height: 50%;
z-index: -1;
opacity: 0.3;
transform: translate(-45%,0%);
}
#contact{
   margin-top: 85px;
   text-align: center;
   font-size: 52px;

}
#outcontact{
   display:flex;
justify-content: space-between;
}
#personalinfo{
   display: flex;
   flex-direction: column;
   margin-left: 60px;
   padding-right: 10px;
   margin-top: 30px;
   font-size: 27px;
   border:4px solid darkred;
   border-radius: 20px;
  height: 215px;
  background-color:rgb(150, 167, 111);

}

#socialmedia{
   margin-right: 70px;
   margin-top: 30px;
   border: 4px solid darkred;
   height: 215px;
width: 440px;
border-radius: 20px;background-color:rgb(152, 160, 109);

}
.hello{
padding-top: 17px;
padding-left: 10px;
}
#logos{
   display: flex;
   justify-content: space-around; 
}
#badminton
{
   text-align: center;
   font-size: 35px;
padding-top: 10px;
padding-bottom: 10px;
}
.intwt{
width: 115px;
height: 115px;

}